<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'data/bootstrap_lux.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'data/graph.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'data/favicon.png' %}"/>
<title>DataFeels</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">DataFeels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/data/recommend/{{ topic }}"> Recommend</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Graph <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/heatmap/{{ topic }}"> HeatMap </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/wordcloud/{{ topic }}"> WordCloud </a>
                </li>
            </ul>
            <div class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Topic of Interest" id="searchQry">
                <button class="btn btn-secondary my-2 my-sm-0" id="searchBtn">Search</button>    
            </div>
        </div>
    </div>
</nav>
<div class="container">
    {% for row in sorted %}
        <div class="row">
            {% for col in row %}
                {% if col != 0 %}
                    <div class="card col-md-1-5">
                        <a href="{{ col.url }}" target="_blank" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-title="{{ col.title }}" data-content="{{ col.summarization }}">
                            <img class="card-img-top graph-img" src="{{ col.thumbnail }}">
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-1-5"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="pull-down">
        <div class="slidecontainer">
            <input type="range" min="0" max="100" value="50" id="slider">
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>0</h4>
            </div>
            <div class="col-md-6">
                <h4 style="float:right;">1</h4>
            </div>
        </div>
        <p><span id="output"></span></p>
    </div>
</div>
<script src="{% static 'data/graph.js' %}"></script>
<script src="{% static 'data/search.js' %}"></script>