<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'data/bootstrap_lux.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'data/recommend.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">DataFeels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Recommend <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/graph/{{ topic }}"> Graph </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/heatmap/{{ topic }}"> HeatMap </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/wordcloud/{{ topic }}"> WordCloud </a>
                </li>
            </ul>
            <div class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Topic of Interest" id="searchQry">
                <button class="btn btn-secondary my-2 my-sm-0" id="searchBtn">Search</button>    
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h3>These are our top reads</h3>
    <div class="row">
        {% for article in average %}
            <div class="card col-md-4">
                <a href="{{ article.url }}" target="_blank">
                    <img class="card-img-top card-img-height" src="{{ article.thumbnail }}"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p>Sentiment Score: {{ article.sentiment_score }}</p>
                    <p class="card-text">{{ article.summarization }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h3>These are more on the positive side</h3>
    <div class="row">
        {% for article in high %}
            <div class="card col-md-4">
                <a href="{{ article.url }}" target="_blank">
                    <img class="card-img-top card-img-height" src="{{ article.thumbnail }}"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p>Sentiment Score: {{ article.sentiment_score }}</p>
                    <p class="card-text">{{ article.summarization }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h3>These are more on the negative side</h3>
    <div class="row">
        {% for article in low %}
            <div class="card col-md-4">
                <a href="{{ article.url }}" target="_blank">
                    <img class="card-img-top card-img-height" src="{{ article.thumbnail }}"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p>Sentiment Score: {{ article.sentiment_score }}</p>
                    <p class="card-text">{{ article.summarization }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'data/search.js' %}"></script>