<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'data/bootstrap_lux.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'data/recommend.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">DataFeels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/data/recommend/{{ topic }}"> Recommend <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/graph/{{ topic }}"> Graph </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/heatmap/{{ topic }}"> HeatMap </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> WordCloud </a>
                </li>
            </ul>
            <div class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Topic of Interest" id="searchQry">
                <button class="btn btn-secondary my-2 my-sm-0" id="searchBtn">Search</button>    
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <img src="{% static 'data/cryptowordcloud.png' %}">
</div>
<script src="{% static 'data/search.js' %}"></script>