.navbar {
    height: 5em;
    margin-bottom: 2em;
}

.slidecontainer {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.col-xs-1-5,
.col-sm-1-5 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-5 {
  width: 5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 5%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 5%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 5%;
    float: left;
  }
}